<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="mroessler.github" value="https://nuget.pkg.github.com/markusroessler/index.json" />
  </packageSources>
  
  <packageSourceCredentials>
    <mroessler.github>
      <add key="Username" value="markusroessler" />
      <add key="ClearTextPassword" value="%NUGET_MROESSLER_GITHUB_PWD%" />
    </mroessler.github>
  </packageSourceCredentials>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="mroessler.github">
      <package pattern="MRoessler.*" />
      <package pattern="githubdotnetresultsexporter" />
    </packageSource>
  </packageSourceMapping>
</configuration>