:root {
    color-scheme: light dark;
}

html, body {
    overscroll-behavior-y: none; 
    overflow-y: hidden;
}

body {
    height: 100vh;
}

.bottom-sheet-background ,
.bottom-sheet {
    /* note: see MainLayout theme */
    z-index: 1400;
}

.mud-bottom-sheet {
    background-color: var(--mud-palette-surface) !important;
    border: 2px solid var(--mud-palette-divider) !important;
}

.mud-bottom-sheet .bottom-sheet-handle rect {
    fill: var(--mud-palette-lines-inputs);
}

.mud-bottom-sheet-background {
    background-color: var(--mud-palette-dark-darken) !important;
}