@page "/multiple-sheets"
@using MRoessler.BlazorBottomSheet.Sample.RazorComponents.Layout

<PageTitle>BottomSheet: Multiple Sheets</PageTitle>
<SectionContent SectionName="@MainLayout.AppBarHeaderName">Multiple Sheets</SectionContent>

<MudPaper Class="pa-2" Style="height: 100%;">
    <MudStack>
        <span data-testid="sample-instance-id" style="display: none;">@_instanceId</span>

        <MudButton OnClick="ToggleIsOpen1" Variant="Variant.Filled" Color="Color.Primary" Class="mt-5" data-testid="open-close-button-1">Open BottomSheet 1</MudButton>
        <MudButton OnClick="ToggleIsOpen2" Variant="Variant.Filled" Color="Color.Primary" Class="mt-5" data-testid="open-close-button-2">Open BottomSheet 2</MudButton>
    </MudStack>
</MudPaper>

<BottomSheet data-testid="bottom-sheet-layout-1" Class="mud-bottom-sheet" BackgroundClass="mud-bottom-sheet-background"
    IsModal CloseOnBackgroundClick AllowMinimizedExpansion AllowNormalExpansion
    @bind-Expansion=_expansion1
>
    <div style="height: 100%;">
        <div style="height: 100%; display: flex; flex-direction: column;">
            <MudText Typo="Typo.h6" Class="my-5">Sheet 1</MudText>
            <MinimizedExpansionMarker />

            <div style="overflow-y: scroll; min-height: 20em;">
                <text>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at ipsum vel nisi viverra tristique. Fusce non imperdiet ipsum, vitae mollis tortor. Proin vulputate odio eget sapien scelerisque, sit amet dapibus mauris pulvinar. Phasellus quis leo vitae purus pellentesque commodo nec quis justo. Nullam sagittis pulvinar ligula, eu viverra diam iaculis eu. Praesent congue nisi a aliquam volutpat. Morbi suscipit pulvinar nulla, id consequat quam porta vitae. Sed sed ipsum in sapien luctus euismod. Donec eu risus ut libero lobortis interdum.
                    Praesent ac leo congue, consectetur est ut, bibendum metus. Curabitur sed leo tincidunt, sollicitudin felis quis, mollis risus. Ut iaculis lectus ac neque ornare condimentum. Praesent posuere sem sit amet luctus tempor. Nulla a magna id augue bibendum tempus et nec dolor. Etiam et libero dolor. Cras lacinia nisi ut lacus venenatis ullamcorper. Sed varius posuere cursus. Donec convallis nulla vitae magna lobortis laoreet. Praesent pulvinar gravida maximus.
                </text>
            </div>
            <NormalExpansionMarker />
        </div>
    </div>
</BottomSheet>

<BottomSheet data-testid="bottom-sheet-layout-2" Class="mud-bottom-sheet" BackgroundClass="mud-bottom-sheet-background"
    IsModal CloseOnBackgroundClick AllowMinimizedExpansion AllowNormalExpansion
    @bind-Expansion=_expansion2
>
    <div style="height: 100%;">
        <div style="height: 100%; display: flex; flex-direction: column;">
            <MudText Typo="Typo.h6" Class="my-5">Sheet 2</MudText>
            <MinimizedExpansionMarker />

            <div style="overflow-y: scroll; min-height: 20em;">
                <text>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at ipsum vel nisi viverra tristique. Fusce non imperdiet ipsum, vitae mollis tortor. Proin vulputate odio eget sapien scelerisque, sit amet dapibus mauris pulvinar. Phasellus quis leo vitae purus pellentesque commodo nec quis justo. Nullam sagittis pulvinar ligula, eu viverra diam iaculis eu. Praesent congue nisi a aliquam volutpat. Morbi suscipit pulvinar nulla, id consequat quam porta vitae. Sed sed ipsum in sapien luctus euismod. Donec eu risus ut libero lobortis interdum.
                    Praesent ac leo congue, consectetur est ut, bibendum metus. Curabitur sed leo tincidunt, sollicitudin felis quis, mollis risus. Ut iaculis lectus ac neque ornare condimentum. Praesent posuere sem sit amet luctus tempor. Nulla a magna id augue bibendum tempus et nec dolor. Etiam et libero dolor. Cras lacinia nisi ut lacus venenatis ullamcorper. Sed varius posuere cursus. Donec convallis nulla vitae magna lobortis laoreet. Praesent pulvinar gravida maximus.
                </text>
            </div>
            <NormalExpansionMarker />
        </div>
    </div>
</BottomSheet>
