.bottom-sheet-layout {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
}

.bottom-sheet-background {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.bottom-sheet-layout.closed .bottom-sheet-background {
    display: none;
}

.bottom-sheet {
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: black;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: stretch;
    transition: transform 0.25s;
}

.bottom-sheet-layout.dragging .bottom-sheet {
    transition: none;
}

.bottom-sheet-body {
    flex-grow: 1;
    min-height: 0;
}

.bottom-sheet-handle {
    padding: 0.5em 0;
}


.bottom-sheet-layout.hidden {
    display: none;
}

.bottom-sheet-layout.closed {
    pointer-events: none;
}

.bottom-sheet-layout.dragging * {
    user-select: none;
    pointer-events: none;
}

.bottom-sheet-layout.dragging ::deep *[style*="overflow-y: scroll"], 
.bottom-sheet-layout.dragging ::deep *[style*="overflow-y: auto"]
{
    overflow-y: hidden !important;
}