.bottom-sheet-layout {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: minmax(0, 1fr);

    --bosh-palette-sheet-background-light: #EEEEEE;
    --bosh-palette-sheet-background-dark: #0F0F0F;
    
    --bosh-palette-sheet-border-light: #BDBDBD;
    --bosh-palette-sheet-border-dark: #0F0F0F;
    
    --bosh-palette-overlay-background-light: #0F0F0F;
    --bosh-palette-overlay-background-dark: #424242;
    
    --bosh-palette-handle-light: #616161;
    --bosh-palette-handle-dark: #BDBDBD;
}

.bottom-sheet-background {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.25s;
}

.bottom-sheet-background.light {
    background-color: var(--bosh-palette-overlay-background-light);
}

.bottom-sheet-background.dark {
    background-color: var(--bosh-palette-overlay-background-dark);
}

.bottom-sheet-background.auto-color {
    background-color: light-dark(var(--bosh-palette-overlay-background-light), var(--bosh-palette-overlay-background-dark));
}

.bottom-sheet-layout.closed .bottom-sheet-background {
    opacity: 0;
    pointer-events: none;
}

.bottom-sheet {
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
    justify-self: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 30px 30px 0 0;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: stretch;
    transition: transform 0.25s;
}

.bottom-sheet.light {
    border: 2px solid var(--bosh-palette-sheet-border-light);
    background-color: var(--bosh-palette-sheet-background-light);
}

.bottom-sheet.dark {
    border: 2px solid var(--bosh-palette-sheet-border-dark);
    background-color: var(--bosh-palette-sheet-background-dark);
}

.bottom-sheet.auto-color {
    border: 2px solid light-dark(var(--bosh-palette-sheet-border-light), var(--bosh-palette-sheet-border-dark));
    background-color: light-dark(var(--bosh-palette-sheet-background-light), var(--bosh-palette-sheet-background-dark));
}

.bottom-sheet-layout.dragging .bottom-sheet {
    transition: none;
}

.bottom-sheet-body {
    flex-grow: 1;
    min-height: 0;
}

.bottom-sheet-handle {
    padding: 0.5em 0;
}

.bottom-sheet.light .bottom-sheet-handle rect {
    fill: var(--bosh-palette-handle-light);
}

.bottom-sheet.dark .bottom-sheet-handle rect {
    fill: var(--bosh-palette-handle-dark);
}

.bottom-sheet.auto-color .bottom-sheet-handle rect {
    fill: light-dark(var(--bosh-palette-handle-light), var(--bosh-palette-handle-dark));
}


.bottom-sheet-layout.hidden {
    display: none;
}

.bottom-sheet-layout.closed {
    pointer-events: none;
}

@media (pointer: coarse) { /* only for touch input */
    .bottom-sheet-layout.dragging * {
        user-select: none;
        pointer-events: none;
    }
}

.bottom-sheet-layout.dragging ::deep *[style*="overflow-y: scroll"], 
.bottom-sheet-layout.dragging ::deep *[style*="overflow-y: auto"]
{
    overflow-y: hidden !important;
}