.bottom-sheet-root {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    display: grid;
}

.bottom-sheet-layout,
.hidden-bottom-sheet-layout {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 10000;
    overflow-y: hidden;
}

.hidden-bottom-sheet-layout {
    opacity: 0;
    pointer-events: none;
}

.bottom-sheet-background {
    width: 100%;
    flex-grow: 1;
}

.bottom-sheet {
    max-height: 100%;
    border: 2px solid black;
    background-color: black;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: stretch;
    transition: height 0.25s;
}

.bottom-sheet-layout.dragging .bottom-sheet {
    transition: none;
}

.hidden-bottom-sheet-layout .bottom-sheet {
    height: 0;
}

.bottom-sheet-body {
    flex-grow: 1;
    min-height: 0;
}

.bottom-sheet-handle {
    padding: 0.5em 0;
}


.bottom-sheet-layout.hidden {
    display: none;
}

.bottom-sheet-layout.closed {
    pointer-events: none;
}

.bottom-sheet-layout.dragging * {
    user-select: none;
    pointer-events: none;
}

.bottom-sheet-layout.closed .bottom-sheet-background {
    display: none;
}
