.bottom-sheet-layout {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
}

.bottom-sheet-background {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    opacity: 0.5;
}

.bottom-sheet-background.light {
    background-color: #0F0F0F;
}

.bottom-sheet-background.dark {
    background-color: #616161;
}

.bottom-sheet-layout.closed .bottom-sheet-background {
    display: none;
}

.bottom-sheet {
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
    justify-self: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 30px 30px 0 0;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: stretch;
    transition: transform 0.25s;
}

.bottom-sheet.light {
    border: 2px solid #BDBDBD;
    background-color: #EEEEEE;
}

.bottom-sheet.dark {
    border: 2px solid #0F0F0F;
    background-color: #0F0F0F;
}

.bottom-sheet-layout.dragging .bottom-sheet {
    transition: none;
}

.bottom-sheet-body {
    flex-grow: 1;
    min-height: 0;
}

.bottom-sheet-handle {
    padding: 0.5em 0;
}

.bottom-sheet.light .bottom-sheet-handle rect {
    fill: #616161;
}

.bottom-sheet.dark .bottom-sheet-handle rect {
    fill: #BDBDBD;
}


.bottom-sheet-layout.hidden {
    display: none;
}

.bottom-sheet-layout.closed {
    pointer-events: none;
}

@media (pointer: coarse) { /* only for touch input */
    .bottom-sheet-layout.dragging * {
        user-select: none;
        pointer-events: none;
    }
}

.bottom-sheet-layout.dragging ::deep *[style*="overflow-y: scroll"], 
.bottom-sheet-layout.dragging ::deep *[style*="overflow-y: auto"]
{
    overflow-y: hidden !important;
}