.bottom-sheet-layout {
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 10000;
    overflow-y: hidden;
}

.bottom-sheet-background {
    width: 100%;
    flex-grow: 1;
}

.bottom-sheet {
    max-height: 100%;
    border: 2px solid black;
    background-color: black;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    justify-items: stretch;
    /* transition: transform 0.25s ease-in-out; */
}

.bottom-sheet-body {
    flex-grow: 1;
    min-height: 0;
}

.bottom-sheet-handle {
    padding: 0.5em 0;
}


.bottom-sheet-layout.hidden {
    display: none;
}

.bottom-sheet-layout.closed {
    pointer-events: none;
}

.bottom-sheet-layout.dragging * {
    user-select: none;
    pointer-events: none;
}

.bottom-sheet-layout.closed .bottom-sheet-background {
    display: none;
}

.bottom-sheet-layout.closed .bottom-sheet {
    height: 0;
}

.bottom-sheet-layout.minimized .bottom-sheet {
    height: 10em;
}

.bottom-sheet-layout.normal .bottom-sheet {
    height: auto;
}

.bottom-sheet-layout.maximized .bottom-sheet {
    height: 100%;
}
