name: CI Build

on: [push, workflow_dispatch]
permissions:
  contents: write
  packages: read


jobs:
  dotnet-linux:
    name: .NET (Linux)
    runs-on: ubuntu-latest

    env:
      DOTNET_VERSION: 10.0.101
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
      NUGET_MROESSLER_GITHUB_PWD: ${{ secrets.NUGET_READ }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Git Config
      run: |
        # see https://api.github.com/users/github-actions%5Bbot%5D
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
    
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        cache: true
        cache-dependency-path: "*/*.csproj"

    - name: Remove setup-dotnet problem matcher
      run: echo "::remove-matcher owner=csc::"
    
    - name: Install nyc
      run: npm install -g nyc 

    - name: Instrument js files for code coverage
      run: nyc instrument ./MRoessler.BlazorBottomSheet ./MRoessler.BlazorBottomSheet --in-place --compact false

    - name: Restore
      run: dotnet restore

    - name: Restore tools
      run: dotnet tool restore
    
    - name: Build
      id: build
      run: |
        dotnet build -c:Debug -p:ErrorLog="compiler-diagnostics.sarif%2Cversion=2.1" --no-restore
    
    - name: Setup Playwright
      run: pwsh MRoessler.BlazorBottomSheet.Sample.Test/bin/Debug/net10.0/playwright.ps1 install

    - name: Test
      if: always()
      run: |
        dotnet test -c:Debug -f:net10.0 --no-build --filter TestCategory!~sample --logger:html \
        --logger:"trx;LogFileName=TestResults/TestResults.trx" --collect:"XPlat Code Coverage" --settings ci.runsettings

    - name: Convert js coverage results
      run: |
        git restore MRoessler.BlazorBottomSheet
        nyc report --reporter=cobertura --report-dir js-coverage-report
      if: always()

    - name: Collect Build Results
      id: collect-build-results
      if: always()
      run: dotnet export-dotnet-results-for-github --export-step-summary true --github-server-url ${{ github.server_url }} --github-repo ${{ github.repository }} --github-ref-name ${{ github.ref_name }} --culture "de-DE"

    - name: Generate Coverage Report
      if: always()
      run: dotnet reportgenerator
    
    - name: Upload Coverage Report
      if: always()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: blazor-bottomsheet-ci-linux-coverage-report
        path: TestResults/coverage-report

    - name: Commit Coverage Badges
      run: |
        mkdir badges
        sed -i 's/Coverage/Line Coverage/g' TestResults/coverage-report/badge_linecoverage.svg
        sed -i 's/Coverage/Branch Coverage/g' TestResults/coverage-report/badge_branchcoverage.svg
        mv TestResults/coverage-report/badge_linecoverage.svg badges
        mv TestResults/coverage-report/badge_branchcoverage.svg badges
        git add badges/*
        git commit -m "updated badges"
        git tag badges 
        git push origin badges

    - name: Upload Test Report
      if: always()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: blazor-bottomsheet-ci-linux-test-report
        path: |
         '**/TestResults/*.html'
         'MRoessler.BlazorBottomSheet.Sample.Test/**/Screenshots/*.png'

    - name: Publish Coverage Results
      if: always()
      run: | 
        echo "## Coverage Results" >> $GITHUB_STEP_SUMMARY
        cat TestResults/coverage-report/SummaryGithub.md | sed -e 's/# Summary//g' >> $GITHUB_STEP_SUMMARY
    
    - name: Publish Lines of Code
      if: always()
      run: |
        bash .github/scripts/print-lines-of-code.sh >> $GITHUB_STEP_SUMMARY