name: Publish API docs to wiki
on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: publish-wiki
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  publish-wiki:
    runs-on: ubuntu-latest
    env:
      DOTNET_VERSION: ${{ vars.DOTNET_VERSION }}
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
      NUGET_MROESSLER_GITHUB_PWD: ${{ secrets.NUGET_READ }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          cache: true
          cache-dependency-path: "*/*.csproj"
      
      - name: Install npm packages
        run: npm install -g jsdoc-to-markdown 

      - name: Generate docs
        run: |
          dotnet build MRoessler.BlazorBottomSheet -p:BoShGenerateMdDocs=true 

      - uses: Andrew-Chen-Wang/github-wiki-action@6448478bd55f1f3f752c93af8ac03207eccc3213 # v5.0.3
        with:
          path: docs
